<div class="container">
  <h1>My TodoApp</h1>

  <div class="list-group">
    <div class="list-group-item" *ngFor="let item of ItemList" [class]="item.Completed==true ? 'list-group-item list-group-item-success' : 'list-group-item'">
      {{item.ItemName}} -  <button type='button' (click)='todoComplete(item)' class='btn btn-primary'>Todo Complete</button>
      - <button type='button' (click)='delete()' class="btn btn-warning">Todo Remove</button>
    </div>

  </div>
  <div class="list-group">
    <a class="list-group-item"><input type="text" class="form-control" [(ngModel)]="Item.ItemName"> </a>
    <a class="list-group-item"><button type="button" class="btn btn-success"(click)="AddItem()">Add Item</button></a>
  </div>
</div>
